html {
	height:100%;
}

body {
	margin:0;
	white-space:nowrap;
	font-family:"Trebuchet MS",Arial,Helvetica,Sans-Serif;
	
	/*margin-top:10px;*/
	/*height:100%;*/
}

body.bg-grad {
	background-color: #696969; /* non-css3 browser support */
    background-image: -ms-linear-gradient(top left, #696969 0%, #FFFFFF 100%); /*IE10*/
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#696969', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
    background-image: -moz-linear-gradient(top left, #696969 0%, #FFFFFF 100%); /*ff3.6+*/
    background: linear-gradient(-45deg, #696969 0%,#ffffff 100%); /* W3C */
    background-image: -o-linear-gradient(top left, #696969 0%, #FFFFFF 100%); /*opera*/
    background-image: -webkit-gradient(linear, top left, right bottom, color-stop(0, #696969), color-stop(1, #FFFFFF)); /*Chrome,safari4+*/
    background-image: -webkit-linear-gradient(top left, #696969 0%, #FFFFFF 100%); /*Chrome10+,safari5+*/
}

div.main {
	width:600px;
	margin:0 auto;
	overflow:hidden;
	font-size:13px;
}

div.menu {
	width:600px;
	overflow:hidden;
}

div.content {
	width:600px;
	overflow:hidden;
}

div.content_box {
	/*width:600px;*/
	overflow:hidden;
	background-color: #FFFFFF;
	-moz-border-radius:15px;
	border-radius:15px;
	padding:15px;
	margin:10px;
	text-align:center;
	
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}
